<div class="{{settingsData.showCards | roCards }}">
  <div class="item article-source" ng-if="settingsData.showSource">
    <div style="background-image: url('{{ article.url | roIconPath }}')" class="image-circle"></div>
    <h2>{{ article.source | roTextLower }}</h2>
    <p class="discret">{{ article.date | roDate }}</p>
  </div>

  <img class="article-thumb" ng-src="{{ article.thumbnail }}" ng-if="article.thumbnail && settingsData.showImages">

  <div class="item item-body article-body">
  <h3 style="font-size: {{settingsData.fontTitle}}%">{{ article.title }}</h3>
  <p class="documentDescription" style="font-size: {{settingsData.fontDescription}}%" ng-if="settingsData.showDescription">{{ article.description }}</p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left item-stable article-actions" ng-if="settingsData.showButtons">
    <a class="tab-item" href="#">
      <i class="icon ion-bookmark"></i>
      Salveaza
      <sup class="assertive">PRO</sup>
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Distribuie
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-forward"></i>
      Detalii
    </a>
  </div>
</div>
