<ion-view title="stiam.ro - Luni 12:05">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-clear button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios7-more" ng-click="showSettings()"></a>
  </ion-nav-buttons>

  <ion-content class="has-header stable-bg">
    <div class="row responsive-sm">

    <div class="col card list">

      <img class="full-image" src="http://stiam.ro/revista-presei/eva.ro/monden/2014-09-19/frumusete-dr.-oz.-cum-sa/image_preview">

      <div class="item item-body">
        <h2>Frumuseţe Dr. Oz. Cum să-ţi usuci părul mai repede şi să-l protejezi de căldură</h2>
        <p class="subdued">Acum 5 minute</p>
        <p>
          Temperaturile ridicate pe care le folosim pentru coafarea sau uscarea părului sunt
          responsabile în mare parte pentru degradarea lui. Iar cu cât este mai lung sau mai
          des, cu atât creşte timpul petrecut cu foehnul în mână
        </p>
      </div>

    </div>

    <div class="col card list">

      <div class="item item-avatar">
        <img src="http://stiam.ro/revista-presei/eva.ro/monden/2014-09-19/frumusete-dr.-oz.-cum-sa/image_thumb">
        <h2>hotnews.ro</h2>
        <p>Ieri</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://stiam.ro/revista-presei/eva.ro/monden/2014-09-19/frumusete-dr.-oz.-cum-sa/image_preview">
        <h2>Frumuseţe Dr. Oz. Cum să-ţi usuci părul mai repede şi să-l protejezi de căldură</h2>
      </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-bookmark"></i>
            Salveaza
            <sup class="assertive">PRO</sup>
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Distribuie
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-forward"></i>
            Detalii
          </a>
        </div>

    </div>

    </div>

    <div class="row responsive-sm">

      <div class="col card list">

        <div class="item item-avatar">
          <img src="http://stiam.ro/revista-presei/eva.ro/monden/2014-09-19/frumusete-dr.-oz.-cum-sa/image_thumb">
          <h2>realitatea.net</h2>
          <p>Acum 2 minute</p>
        </div>

        <div class="item item-body">
          <h2>Frumuseţe Dr. Oz. Cum să-ţi usuci părul mai repede şi să-l protejezi de căldură</h2>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-bookmark"></i>
            Salveaza
            <sup class="assertive">PRO</sup>
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Distribuie
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-forward"></i>
            Detalii
          </a>
        </div>

      </div>


    </div>

    </div>
  </ion-content>
</ion-view>
