<ion-view title="stiam.ro - Luni 12:05">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-clear button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios7-more" ng-click="showSettings()"></a>
  </ion-nav-buttons>

  <ion-content class="has-header article-listing" ng-controller="ListingCtrl">
    <div class="list article-listing-wrapper">

    <div class="card"
        collection-repeat="article in articles"
        collection-item-width="'100%'"
        collection-item-height="getItemHeight(article)"
        ng-style="{height: getItemHeight(item, $index), left: 0, right: 0}">
      <article-brick></article-brick>
    </div>

    </div>
    <ion-infinite-scroll
            icon="ion-loading-c"
            on-infinite="loadMore()">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
