<div class="card">

    <div class="item article-source">
    <div style="background-image: url('http://stiam.ro/revista-presei/cinemagia.ro/image_crop')" class="image-circle"></div>
    <h2>cinemagia.ro</h2>
    <p class="discret">ieri</p>
    </div>

    <div class="item article-thumb-container">
      <img class="article-thumb" src="http://stiam.ro/revista-presei/eva.ro/monden/2014-09-19/frumusete-dr.-oz.-cum-sa/image_preview">
    </div>

    <div class="item item-body">
    <h3>Prezervativele disponibile în Uganda, prea mici pentru mulţi bărbaţi din această ţară</h3>
    <p class="documentDescription">Prezervativele disponibile pe piaţă sunt prea mici pentru organele sexuale ale multor bărbaţi din Uganda, au declarat câţiva deputaţi din...</p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left item-stable article-actions">
      <a class="tab-item" href="#">
        <i class="icon ion-bookmark"></i>
        Salveaza
        <sup class="assertive">PRO</sup>
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-share"></i>
        Distribuie
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-forward"></i>
        Detalii
      </a>
    </div>

</div>
