<div class="modal">
  <ion-header-bar class="balanced-bg">
    <h1 class="title light">Setări</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-ios7-checkmark-empty button-light" ng-click="saveSettings()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="saveSettings()">
      <ul class="list">
       <li class="item item-toggle">
         Imagini in listă
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="settingsData.showImages">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
       </li>
       <li class="item item-toggle">
         Imagini in articol
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="settingsData.showImagesArticle">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
       </li>
       <li>
         <div class="item item-divider">Font titlu</div>
         <div class="item range">
           <input type="range" name="volume" min="50" max="200" value="100" ng-model="settingsData.fontTitle">
           <span style="font-size: {{ settingsData.fontTitle }}%">{{ settingsData.fontTitle }}%</span>
         </div>
       </li>
       <li>
         <div class="item item-divider">Font descriere</div>
         <div class="item range">
           <input type="range" name="volume" min="50" max="200" value="100" ng-model="settingsData.fontDescription">
           <span style="font-size: {{ settingsData.fontDescription }}%">{{ settingsData.fontDescription }}%</span>
         </div>
       </li>
       <li>
         <div class="item item-divider">Font conţinut</div>
         <div class="item range">
           <input type="range" name="volume" min="50" max="200" value="100" ng-model="settingsData.fontArticle">
           <span style="font-size: {{ settingsData.fontArticle }}%">{{settingsData.fontArticle }}%</span>
         </div>
       </li>
       <li>
           <div class="item item-divider">Temă</div>

           <label class="item item-radio" ng-repeat="theme in themes">
             <input type="radio" name="theme" ng-model="settingsData.theme"
                    value="{{theme.name}}"
                    ng-checked="{{ settingsData.theme === theme.name }}">
             <div class="item-content">
               <span class="color-demo {{theme.name}}-bg {{theme.name}}-border"></span>
               {{theme.title}}
               <sup class="assertive" ng-if="theme.pro">PRO</sup>
             </div>
             <i class="radio-icon ion-checkmark"></i>
           </label>

       </li>
      </div>
    </form>
  </ion-content>
</div>
