/* Empty. Add your own CSS if you like */
.color-demo {
  float: left;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-right: 1em;
}

.image-circle {
  border-radius: 50%;
  border: 5px solid #fff;
  width: 58px;
  height: 58px;
  float: left;
  margin-right: 1em;
  background-repeat: no-repeat;
  background-position: center center;
}

p.discret {
    color: #999;
    font-size: 12px;
}

.item h2 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}

.article-listing {
  background-color: #fff;
}

.article-thumb {
  width: 100%;
  float: right;
}

.article-source {
    padding: 3px 16px;
}

.article-actions {
    border: none;
    border-top: 1px solid #ddd;
    margin: 0;
}

.article-actions .tab-item {
    border-right: 1px solid #dcdee3;
}

.article-actions .tab-item:last-of-type {
    border-right: none;
}

.item-body h3 {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-align: right;
}

.item-body .documentDescription {
  font-weight: normal;
  text-align: justify;
}

.article-listing .card, .article-listing .item {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
